@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

:root {
  --dark-color: #0C0E1A;
  --light-color: #ABBEC7;
  --red-color: #94272B;
  --light-red-color: #D8FFE1;

}



/* MAIN SETUP */
body {
  background-color: var(--light-color);
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Nunito';
}
a {
  text-decoration: none;
  color: var(--light-color)
}
/*HEADER AND NAV FOR MOBILE
  Using flex to posistion and have the menu
  almost ready on the side. But i need JS to
  implement*/
header {
  background: var(--dark-color);
  height: 217px;
  position: relative;
}
.nav_Fullsite  {
  display: none;
}
.nav_Mobile {
  display: flex;
  color: var(--light-color);
  padding: 50px;
  justify-content: space-between;
  align-items: center;
}
#mobile-menu {
  display: none;
}
.logo_Mobile {
  height: 50px;
  width: 80px;
}
label {
  font-size: 4em;
}
label:hover {
  cursor: pointer;
}
.nav_Links {
  position: absolute;
  display: none;
  top: 50px;
  left: 50px;
  background-color: var(--dark-color);
  width: 60%;
}
.ul_Links {
  position: relative;
  padding: 0;
  font-family: "Nunito";
  list-style-type: none;
}
.ul_Links li {
  padding: 10px 0 20px 0;
}

.ul_Links li img {
  height: 20px;
  padding-right: 5px;
}

.nav_Btns {
  display: flex;
  align-items: center;
  width: 100%;
}
.sign_Up {
  margin-left: auto;
}

/*Setting up grid for main content to
  easily change in increased sizes. i dont want to
  define new layouts in media query. Only change the
  ones i have*/

.primary {
  display: grid;
  grid-template-columns: 1fr;
}
.second_Card, .third_Card {
  display: none;
}
.main_Card {
  position: relative;
  top: -60px;
  margin: 0 50px;
  height: auto;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.price {
  position: relative;
  color: white;
  font-family: 'Lato';
  font-size: 2em;
  margin: 0;
  text-align: end;
  height: 340px;
  background-size: cover;
  background-size: 130%;
  background-position: center;
  padding: 15px;
  border-radius: 5px;
}

.price::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.main_Card div p {
  margin: 0;
  padding: 20px;
}
.main_Card button {
  width: 100%;
  height: 40.5px;
  background-color: var(--dark-color);
  bordeR: none;
  color: var(--light-color);
  border-radius: 0 0 5px 5px;
}
/* GAME CARDS BACKGROUND SO I CAN EASILY CHANGE CLASSES WITH JS */

.black {
  background-image: url(/Assets/GameHub_covers3.jpg);
}
.furious {
  background-image: url(/Assets/GameHub_covers4.jpg);
}
.assassin {
  background-image: url(/Assets/GameHub_covers5.jpg);
}
.cyber {
  background-image: url(/Assets/GameHub_covers9.jpg);
}
.forge {
  background-image: url(/Assets/GameHub_covers3.jpg);
}
.boxer {
  background-image: url(/Assets/GameHub_covers8.jpg);
}
.racing {
  background-image: url(/Assets/GameHub_covers7.jpg);
}
.pingpong {
  background-image: url(/Assets/GameHub_covers.jpg);
}
.spacewar {
  background-image: url(/Assets/GameHub_covers6.jpg); 
}

/*Again setting up grid so i can modify the content flow
  for smaller sizes into larger. Instance:
  I want info to appear first in smaller sizes for
  marketing purposes and pushing community down
  but for larger i am using info on the side.*/
.dividingContent {
  display: grid;
  grid-template-areas: 
  "secondary"
  "info"
  "community"
  ;
}

.secondary {
  grid-area: secondary;
  margin: 0 50px;
  display: grid;
  grid-template-areas:
  "head head"
  "g1 g2"
  "g3 g4"
  ;
  gap: 15px;
}
.head {
  position: relative;
  grid-area: head;
  font-size: 1.4em;
  margin: 20px 0 5px 0;
}
.head::before {
  position: absolute;
  content: 'Popular';
  font-size: 2.5em;
  font-family: 'Lato';
  font-weight: 900;
  top: -32px;
  left: -3px;
  opacity: 0.1;
  
}
.imgcont_Popular {
  height: 206px;
  width: 100%;
  background-size: cover;
  background-size: 150%;
  background-position: center;
  border-radius: 5px;
  box-shadow: 3px 3px 4px rgba(0,0,0,0.3);
}
.under_style h1 {
  font-family: 'Lato', sans-serif;
  margin-top: 10px;
}
.under_style button {
  width: 100%;
  border: none;
  height: 46px;
  margin-bottom: 40px;
  background-color: var(--dark-color);
  color: var(--light-color);
  border-radius: 5px;
}
/*Grids, grids, grids  - i find them easier to work with
  placing content on my site.*/
.community {
  position: relative;
  grid-area: community;
  display: grid;
  grid-template-rows: repeat(6, auto);
  gap: 20px;
  margin: 50px;
}
.community::before {
  position: absolute;
  content: '';
  height: auto;
  width: calc(100% + 100px);
  left: -50px; 
  top: 40px;
  bottom: 40px;
  background-color: var(--red-color);
  z-index: -2;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.3);
}
.watermark {
  position: absolute;
  font-family: 'Lato', sans-serif;
  transform: rotate(-90deg);
  font-size: 4em;
  left: 25px;
  bottom: -40px;
  top: -40px;
  z-index: -1;
  text-transform: uppercase;
  opacity: 0.2;
  color: var(--light-red-color);
}
.community_Style {
  background-color: var(--light-red-color);
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  
}
.imgcont_Community {
  height: 60px;
  background: url(/Assets/GameHub_covers6.jpg) center;
  background-size: cover;

}
.community_Style h1 {
  margin: 5px 0;
  text-transform: uppercase;
  font-size: 0.9em;
  padding-left: 20px;
}
/*puttin info below community even though smaller sizes this
  is wrong. But for larger sizes and the flow of the site
  info should be below.*/
.info {
  grid-area: info;
  background-color: var(--dark-color);
  color: var(--light-color);
}
.info_Post div{
  height: 130px;
  width: 100%;
  background-image: url(/Assets/pexels-cottonbro-1.png);
  background-size: cover;
  background-position-y: -30px;
}
.info_Post h1 {
  font-size: 1.3em;
}
.info_Post h1,
.info_Post p {
  padding: 0 50px;
}
.info_Post {
  padding-bottom: 20px;
}
/*SETTING UP FOOTER*/

footer {
  height: 670px;
  background-color: var(--dark-color);
}
.containing-footer {
  padding: 50px;
  display: grid;
  grid-template-areas:
  "Sub"
  "Socials"
  ;
}
.links_Socials {
  grid-area: Socials;
  display: grid;
  grid-template-columns: repeat(4 1fr);
  grid-template-areas:
  "icon1 icon2 icon3 icon4"
  "link1 link1 link2 link2"
  "copy_R copy_R copy_R copy_R";
  gap: 10px;
}
.icon1 {
  grid-area: icon1;
}
.icon2 {
  grid-area: icon2;
}
.icon3 {
  grid-area: icon3;
}
.icon4 {
  grid-area: icon4;
}
.link1 {
  grid-area: link1;
}
.link2 {
  grid-area: link2;
}
.link1 a, .link2 a {
  display: block;
}
.copy_Right {
  grid-area: copy_R;
  color: var(--light-color);
}

/*Moving sign up to the above position with grid
  for easier manipulation with bigger sizes.*/

.sub_Contact {
  color: var(--light-color);
  padding-bottom: 100px;
}
.sub_Contact button {
  width: 100%;
  height: 40px;
  border:none; 
  border-radius: 5px;
  background-color: var(--red-color);
  color: var(--light-red-color);
  margin: 5px 0;
}
.sub_Contact input {
  width: calc(100% - 30px);
  height: 40px;
  background-color: var(--light-color);
  border-radius: 5px;
  padding: 5px 15px;
  border: none;
  font-size: 1.3em;
}
.sub_Contact label {
  font-size: 1em;
}
 /*Starting media for tablet-sizes*/
@media only screen and (min-width: 750px) {

  header {
    height: 330px;
  }
  .nav_Mobile {
    display: none;
  }
  .nav_Fullsite {
    display: block;
    padding: 50px;
    height: calc(100% - 100px);
  }
  /* UPPER PART OF NAV */
  .upper, .lower, .lower div {
    display: flex;
    align-items: center;
  }
  .upper img {
    margin-right: auto;
    height: 1.5em;
  }
  .upper a {
    margin: 0 0 0 30px;
  }
  .nav_Fullsite a img {
    height: 1em;
  }
  /*LOWER PART OF NAV*/
  .lower {
    padding-top: 150px;
  }
  .lower div {
    margin-left: auto;
    display: flex;
    height: 22px;
    align-items: center;
  }
  .lower a {
    padding-right: 30px;
  }
  .lower label {
    height: 1em;
    font-size: 1em;
  }
  .lower input {
    margin-right: 5px;
    width: 100px;
    border:none;
    padding: 8px;
  }

  /*MAIN CONTENT FOR TABLET - 2 COLUMNS*/
  .primary {
    grid-template-columns: 1fr 1fr;
    margin: 0 50px;
    gap: 20px;
  }
  
  .main_Card {
    margin: 0;
  }
  .second_Card {
    display: block;
    position: relative;
    top: -60px;
    height: 475px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }
  .second_Card div p {
    margin: 0;
    padding: 20px;
  }
  .second_Card button {
    width: 100%;
    height: 40.5px;
    background-color: var(--dark-color);
    bordeR: none;
    color: var(--light-color);
    border-radius: 0 0 5px 5px;
  }
  /*Popular games does not need to change
  on with info
  Using Float for easy setup*/

  .info_Post div {
    width: 50%;
    height: 250px;
    float: left;
  }
  .info_Post .pic2 {
    float: right;
  }
  .info_Post section h1, .info_Post section p {
    margin: 0;
  }
  .info_Post section .right_S {
    padding: 50px 50px 10px 53%;
  }
  .info_Post section .right_p {
    padding: 0px 50px 10px 53%;
  }
  .info_Post section .left_S {
    padding: 50px 53% 10px 50px;
  }
  .info_Post section {
    height: 250px;
  }
  .info_Post {
    padding: 0;
  }

  /*SETTING UP COMMUNITY CARDS*/

  .community {
    grid-template-columns: repeat(3, auto);
    grid-template-rows: auto;
    height: 450px;
    gap: 70px 20px;
  }
  .imgcont_Community {
    height: 150px;  
  }
  .watermark {
    transform: rotate(0deg);
    top: 70px;
    width: 100%;
    font-size: 6em;
  }
}